@using ReProductify.Domain.Entities;
@model List<Product>

<form method="post" action="/Product/Remove">
<h1>Remove Product Page</h1>
<br />
<h2>All Products</h2>
<p>Select the products you want to remove</p>

@foreach(var product in Model){
<div class="form-check">
	<input class="form-check-input" type="checkbox" id="@product.Id" name="selectedProducts" value="@product.Id" >
	<label class="form-check-label">@product.Name</label>
</div>
}

<button type="submit">Remove Selected Products</button>
</form>